.chicken-img{
  border-style: solid;
  border-color: black;
  border-width: 1px
}
.heading{
  color: #DB4A42;
  
}
.description-h{
  color: #DB6542;
  font-size: 20px;
}
.description{
  color: #DB9A42;
  font-size: 17px 
}
.ingredients-h{
  color: #DB6542;
  font-size: 20px
}
.ingredients{
  color: #DB9A42;
  font-size: 17px
}
.steps-h{
  color: #DB6542;
  font-size: 20px
}
.steps{
  color: #DB9A42;
  font-size: 17px;
}


